{% include 'firstweb/header.html' %}
{% load static %}
{% block content %}

							<!-- Content -->
								<section>
									<header class="main">
										<h3>Delete Post</h3>
									</header>

									
									<form method="POST">
                                        {% csrf_token %}
													<div class="box">
														<p><h4>Are sure you want to delete the post {{ object.title }}?</h4></p>
                                                        <div class="form-group">
                                                            <button class="btn btn-secondary btn-sm mt-1 mb-1" type="submit">Yes, Delete</button>&nbsp;&nbsp;&nbsp;
                                                            <a class="btn btn-outline-secondary" href="{% url 'post-detail' object.id %}" >Cancel</a>
                                                            
                                                        </div>
													</div>
                                    </form>
								</section>

						</div>
					</div>

				<!-- Sidebar -->
					{% include 'firstweb/sidebar.html' %}

			</div>

		<!-- Scripts -->
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/browser.min.js' %}"></script>
        <script src="{% static 'js/breakpoints.min.js' %}"></script>
        <script src="{% static 'js/util.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>


	</body>
</html>
{% endblock %}