{% include 'firstweb/header.html' %}
{% load static %}
{% block content %}

							<!-- Content -->
								<section>

										<h2 id="elements">Post</h2>
										<div class="row gtr-200">
											<div class="col-6 col-12-medium">


													<form method="post" enctype="multipart/form-data">
                                                        {% csrf_token %}
														<div class="row gtr-uniform">
															<div class="col-12 col-12-xsmall">
                                                                <label>Title :</label>
																{{form.title}}
                                                            </div>
                                                            
                                                            
                                                            <!-- Break -->
                                                            <div class="col-12">
																<label>Content :</label>
                                                                {{form.content}}
                                                            </div>
															<div class="col-12">
																<label>Image :</label>
                                                                {{form.image}}
                                                            </div>
                                                            
															<!-- Break -->
															<div class="col-12">
																<ul class="actions">
																	<li><input type="submit" value="Post" class="primary" /></li>
																	
																	
																</ul>
															</div>
														</div>
		
											</div>
											
										</div>

								</section>

						</div>
					</div>

				{% include 'firstweb/sidebar.html' %}

			</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>
{% endblock %}
