<div id="sidebar">
    <div class="inner">

            <nav id="menu">
                <header class="major">
                    <h2>Menu</h2>
                </header>
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'post-create' %}">New Post</a></li>
                        <li><a href="{% url 'profile' %}">Profile</a></li>
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                        <li><a href="{% url 'login' %}">Login</a></li>

                        <li><a href="{% url 'register' %}">Register</a></li>
                        {% endif %}
                    
                    
                </ul>
            </nav>

            <section>
                <header class="major">
                    <h2>Contect Us</h2>
                </header>
                <p>Assure users that their personal information won't be shared or misused. Link to your privacy policy if you have one.</p>
                <ul class="contact">
                    <li class="icon solid fa-envelope"><a href="#"><b>Email: </b> yoank000@gmail.com</a></li>
                    <li class="icon solid fa-phone"><b>No: </b> +35389970718</li>
                    <li class="icon solid fa-home"><b>Address: </b> Dublin, Ireland</li>
                </ul>
            </section>

        

    </div>
</div>