
{% include 'firstweb/header.html' %}
{% load static %}
{% block content %}

							<!-- Content -->
								<section>
									<header class="main">
										<h3>Login Again</h3>
									</header>

									
									<form method="POST">
                                        {% csrf_token %}
													<div class="box">
														
                                                        <div class="form-group">
                                                            <a href="{% url 'login' %}">Log In Again</a>
                                                            
                                                        </div>
													</div>
                                    </form>
								</section>

						</div>
					</div>

				<!-- Sidebar -->
					{% include 'firstweb/sidebar.html' %}

			</div>

		<!-- Scripts -->
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/browser.min.js' %}"></script>
        <script src="{% static 'js/breakpoints.min.js' %}"></script>
        <script src="{% static 'js/util.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>


	</body>
</html>
{% endblock %}