

{% include 'firstweb/header.html' %}
{% load static %}
{% block content %}

							<!-- Content -->
								<section>

										
                                        
                                            <h2 class="account-heading">{{ user.username }}</h2><p class="text-secondary">{{ user.email }}</p>
                                            
                                        
										<div class="row gtr-200">
                                            <div class="box alt">
                                               
                                            </div>
                                            
                                            <div class="col-4"><span class="image fit"><img src="{{ user.profile.image.url }}" height="300" width="100" /></span></div>
											
                                            <div class="col-6 col-12-medium">


													<form method="post" enctype="multipart/form-data">
                                                        {% csrf_token %}
														<div class="row gtr-uniform">
															<div class="col-12 col-12-xsmall">
                                                                <input type="text" name="username" id="demo-name" value="{{user.username}}" placeholder="Username" />
                                                            </div>
                                                            
                                                            
                                                            <!-- Break -->
                                                            
                                                            <div class="col-6 col-12-xsmall">
																<input type="email" value="{{user.email}}" name="email" id="demo-email" value="" placeholder="Email" />
															</div>
                                                            <div class="col-12">
                                                                {{ p_form }}
                                                            </div>
                                                            
															<!-- Break -->
															<div class="col-12">
																<ul class="actions">
																	<li><input type="submit" value="Update" class="primary" /></li>
																	
																</ul>
															</div>
														</div>
                                                    </form>
											</div>
											
										</div>

								</section>

						</div>
					</div>

				{% include 'firstweb/sidebar.html' %}

			</div>

		<!-- Scripts -->
		<script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/browser.min.js' %}"></script>
        <script src="{% static 'js/breakpoints.min.js' %}"></script>
        <script src="{% static 'js/util.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>

	</body>
</html>
{% endblock %}
